AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_IMAGE=ghcr.io/goauthentik/server
AUTHENTIK_SECRET_KEY=
AUTHENTIK_TAG=2026.8.2
COMPOSE_PORT_HTTP=9000
COMPOSE_PORT_HTTPS=9443
PG_DB=authentik
PG_PASS=
PG_USER=authentik
